<!DOCTYPE html5>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    <link href="css/main.css" rel="stylesheet" media="screen">
    <title>GameShelf</title>
</head>

<body>

    <div class = "navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
	    <div class="container-fluid">
		<a class = "brand" href=''>GameShelf</a>
		
		
		<a " class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>

		</a>
	
		<div class="nav-collapse collapse">
		<ul class="nav">
		    <li><a href="#shelf"><img src="http://i.imgur.com/tfL0bxm.png" title="Hosted by imgur.com" /> MyShelf</a></li>
		   <li> <form class="navbar-search pull-left">
		        <input type="text" id="searchBar" class="span3" placeholder="Enter Game Title">
		    <a href=#search id="searchButton" class="btn btn-inverse">Search</a>
		</form></li>
		</ul>
		</div>

	    </div>
	</div>
	
    </div>
    <div class="container">
	    <div class = "page">
	    </div>
    </div>

<script type="text/template" id="home_template">
    <div id="splashScreen" class="pagination-centered">
    <img src="http://i.imgur.com/ZiE1PHB.png" title="Hosted by imgur.com" />
	<p id="logo">GameShelf</p>
    </div>

</script>


<script type="text/template" id="search_template">
    
<div id="grid" class="container"></div>

</script>
<script type="text/template" id="favorite_template">


  

	
	
</script>

<script type="text/template" id="shelfTemplate">

	<div id="shelfViewer" class="container">
    
		    <div id="favoriteImage" class="favoriteImage"></div>
		    <div id="favoriteInfo" class="favoriteInfo">
			<p id="favoriteInfoList"></p>
			<p><ul id="favoritePlatformList"></ul></p>
		    </div>
		    
	<div id="favoriteCarouselContainer" class="container">
		<div id ="favePicCarousel" class = "carousel slide ">
		    <div class = "carousel-inner"></div>
		</div>
	    </div>
	
    </div>
    
      <div id="favoritesBox" class="container">
	 <div id="list"></div>
    </div>

</script>
<script type="text/template" id="game_template">


    <div id="gameContainer" class="container">

	    <div id="gameImage" class="gameImage"></div>
	    <div id="gameInfo" class="gameInfo">
	    	
		<p id="infoList"></p>
		
		<ul id ="platformList"></ul>
	</div>
    </div>
	

      <div id="carouselContainer" class="container">
		<div id ="picCarousel" class = "carousel slide ">
		    <div class = "carousel-inner"></div>

		</div>
	    </div>

		  
		
</script>








       <!-- <section id="main"> -->

          
         <!-- <div id = "favList1"> -->
          
          
           <!-- <input id="toggle-all" type="checkbox"> -->
        <!-- <label for="toggle-all">Unfavorite all</label> -->
           
          <!--</div>
	    </section> -->
      
     <!--<footer>
      <div id = "favList2">
          <a id="clear-completed">Clear completed</a>
          <div id="todo-count"></div>
        </div>
     </footer>
    </div>-->

  <script type="text/template" id="item-template">
    <div id="#favoriteRow" class="span2">
   
    <div class="view">

       <a id="fLink">
      <img class="img-polaroid" src=<%- pic %>>
      </a>
      <input id="clear-completed"   value="Delete" class="btn btn-danger, toggle" type="button" <%= done ? 'checked="checked"' : '' %>>
	 </div>
      
    </div>
  </script>




<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js" type = "text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js" type = "text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.9/backbone-min.js" type = "text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.0/backbone.localStorage-min.js" type="text/javascript" ></script>

  <script src="js/bootstrap.min.js" type="text/javascript"></script>
        
    
    <script src="main.js" type="text/javascript"></script>

        
        

        
</body>
</html>